<div class="register">
    <div *ngIf="!(responseOTPData&&responseOTPData.otp)" fxLayoutAlign="center center" fxFlexFill class="main-div">
        
        <mat-card fxFlex="25" class="mat-elevation-z0 mtcard">
            <mat-toolbar class="primary-tbar mtcard" fxLayoutAlign="center center">Reset Password
                <div fxLayoutAlign="center center" style="margin:10px" *ngIf="resetData.email&&sentMail">
                    <mat-spinner [diameter]="25"></mat-spinner>
                </div>
    
            </mat-toolbar>
            <form fxLayoutAlign="stretch" fxLayout="column" class="login-form">
                <mat-form-field>
                    <mat-label>Enter Email</mat-label>
                    <input matInput [(ngModel)]="resetData.email" name="email" #email="ngModel"
                    id="email" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" required type="email">
                </mat-form-field>
                <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert">
                    <div *ngIf="email.errors?.required" style="color:brown;">
                        Email is required.
                    </div>
                    <div *ngIf="email.errors?.pattern" style="color:brown;">
                        Please Enter Valid Email Address.
                    </div>
                </div>
                <div *ngIf="resetData.email&&sentMail">
                    Please wait while sending Mail....
                </div>            
                <button *ngIf="resetData.email" mat-raised-button type="submit" (click)="onSendEmail();sentMail=true" class="btn mtcard">Send Link</button>
            </form>
        </mat-card>
    </div>
    
    
    
    <div *ngIf="responseOTPData && responseOTPData.otp" fxLayoutAlign="center center" fxFlexFill class="main-div">
        <mat-card fxFlex="25" class="mat-elevation-z0 mtcard">
            <form fxLayoutAlign="stretch" fxLayout="column" class="login-form">
                <mat-form-field>
                    <mat-label>OTP</mat-label>
                    <input matInput [(ngModel)]="resetData.otp" name="otp" #otp="ngModel"
                        id="otp" required type="text">
                </mat-form-field>
                <div *ngIf="otp.touched && (resetData.otp != responseOTPData.otp)" style="color:brown;">
                    OTP not matching.
                </div>
                <mat-form-field>
                    <mat-label>New Password</mat-label>
                    <input matInput [(ngModel)]="resetData.Newpassword" name="Newpassword" #Newpassword="ngModel"
                        id="Newpassword" required [type]="hide ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="hide = !hide" type="button">
                        <mat-icon *ngIf="hide">visibility_off</mat-icon>
                        <mat-icon *ngIf="!hide">visibility</mat-icon>
                    </button>
                </mat-form-field>
    
                <mat-form-field>
                    <mat-label>Confirm Password</mat-label>
                    <input matInput [(ngModel)]="resetData.Confpassword" name="Confpassword" pattern="{{ Newpassword.value }}" #Confpassword="ngModel"
                        id="Confpassword" required [type]="hide ? 'password' : 'text'">
                </mat-form-field>
    
                <div *ngIf="Confpassword.invalid && (Confpassword.dirty || Confpassword.touched) || Newpassword.invalid && (Newpassword.dirty || Newpassword.touched)" class="alert">
                    <div *ngIf="Confpassword.errors?.required || Newpassword.errors?.required" style="color:brown;">
                        Password is required.
                    </div>
                </div>
    
                <div *ngIf="Confpassword.errors?.pattern" style="color:brown;">
                    Confirm Password should be same as New Password.
                </div>
    
                <button mat-raised-button type="submit" (click)="onReset()" class="btn mtcard">Reset</button>
    
                <div fxLayoutAlign="center center">
                    <p style="margin-top:25px">Back to&nbsp;
                        <a routerLink="/login">Login</a>
                    </p>
                </div>
            </form>
        </mat-card>
    </div>
</div>
