.page__box{
  color: white;
  padding: 0 1rem;
  background: #f1f5f9;
  min-height: 120px;

  background: #1e293b;
  margin: 0 -1rem;
  font-size: 36px;
}

.page__content{
  color: white;
  padding: 0 1rem;
  background: #f1f5f9;
  min-height: 120px;

  min-height: calc(100vh - 160px);
  border-radius: 10px;
  /* margin-top: -2rem; */
  background: white;
  color: black;
  font-size: 2rem;
}
.page__data{
  color: white;
  padding: 0 1rem;
  background: #f1f5f9;
  min-height: 120px;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}